%legend {
  font-size: 1rem;
  color: #272727;
  font-style: italic;
}

.article-page {
  position: relative;
}

.article {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;

  & h2 {
    font-size: 4rem;

    @media screen and (max-width: 720px){
      font-size: 2rem;
  }
}

& p {
  font-size: 1.3rem;
  color: #585858;

  @media screen and (max-width: 720px){
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }
}

& .article-intro {
  margin-bottom: 100px;
  
  & .article-intro-img {
    display: flex;
    justify-content: space-around;

    & .galaxy-img {
  
      @media screen and (max-width: 720px){
        display: none;
      }
    }
  }
  
  & img {
    margin-top: 30px;

    @media screen and (max-width: 720px){
      width: 100%;
      height: auto;
    }
    @media screen and (min-width: 721px){
      width: 45%;
      height: auto;
    }
    

  }
  
    & p {
      padding: 30px 0;
    }
  }

  & .jupiter-img,
  .venus-img,
  .ganymede-earth-img,
  .saturne-img {
    & p {
      @extend %legend;
    }
  }

  & .article-content {
    & h3 {
      font-size: 3.5rem;
      margin-top: 50px;

      @media screen and (max-width: 1024px){
        font-size: 1.5rem;
      }
      
    }

    & .article-content-1 {
      margin-top: 90px;
      margin-bottom: 90px;
      display: grid;
      gap: 20px;
      row-gap: 80px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "aj ji"
        "vi av";

        @media screen and (max-width: 1024px){
          display: block;
          margin-top: 40px;
        }
        
        & .article-jupiter {
          grid-area: aj;
          @media screen and (max-width: 1400px){
            width: 70%;
          }

      }
      
      & .jupiter-img {
        grid-area: ji;
        margin-left: 80px;
        
        @media screen and (max-width: 1024px){
          margin-left: 0;
          margin-top: 40px;
        }
        @media screen and (max-width: 1400px){
          margin-left: 0;
        }
        & img {
          width: 450px;
          @media screen and (max-width: 1024px){
            width: 100%;
          }
        }
      }

      & .article-venus {
        @media screen and (max-width: 1024px){
          margin-top: 40px;
        }
      }
      
      & .venus-img {
        grid-area: vi;
        width: 600px;
        @media screen and (max-width: 1024px){
          margin-top: 40px;
        }
        & img {
          width: 450px;
          @media screen and (max-width: 1024px){
            width: 50%;
          }
        }
      }
      & .article-venus {
        grid-area: av;
        @media screen and (max-width: 1400px){
          width: 90%;
        }
        
      }
    }

    & .article-content-2 {
      margin-top: 90px;
      display: grid;
      height: auto;
      gap: 100px;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(auto, 1fr);
      grid-template-areas:
        "ag gi"
        "si as"
        "ac ac";

        @media screen and (max-width: 1024px){
          display: block;;
          margin-top: 40px;
        }

      & .article-ganymede {
        grid-area: ag;
        width: 110%;
        // @media screen and (max-width: 1024px){
        //   width: 100%;
        // }
        @media screen and (max-width: 1400px){
          width: 100%;
        }
      }
      & .ganymede-earth-img {
        grid-area: gi;
        padding-left: 100px;
        height: 305px;

        @media screen and (max-width: 1024px){
          margin-top: 40px;
          padding-left: 0;
          height: auto;
        }
        @media screen and (max-width: 1400px){
          padding-left: 0;
        }

        & img {
          @media screen and (max-width: 720px){
            width: 100%;
          }
          @media screen and (max-width: 1024px){
            width: 60%;
          }
        }

      }
      & .article-saturne {
        grid-area: as;
        padding-top: 50px;
        @media screen and (max-width: 1400px){
          width: 100%;
        }
      }
      & .saturne-img {
        grid-area: si;
        padding-top: 50px;
        & img {
          width: 600px;

          @media screen and (max-width: 1024px){
            width: 100%;
          }
          @media screen and (max-width: 1400px){
            width: 100%;
          }
        }
      }
      & .article-conclusion {
        grid-area: ac;
        height: 200px;

        @media screen and (max-width: 1024px){
          margin-top: 40px;
        }
        @media screen and (max-width: 1400px){
          width: 100%;
        }
      }
    }
  }
}
