.results-container {
    height: 110vh;
    // margin-top: 50px;

    
    & .results-card-container {
        height: 100%;
        
        & h2 {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: end;
            height: 20%;
            font-size: 3.5rem;
            // margin-top: 30px;
        }
        
        & .results-card {
            @extend %center;
            height: 50%;
            
            & .results {
                @extend %center;
                border-radius: 25px;
                width: 60%;
                height: 80%;
                
                & .results-stats {
                    align-items: center;
                    
                    & p {
                        @extend %center;
                        font-size: 1.2rem;
                        margin-top: 10px;
                        letter-spacing: 1px;
                    }
                    
                    & .congrats {
                        margin-top: 30px;
                    }
                }
                
            }
        }
        
        & .show-article {
            height: 25%;
            
            & p {
                display: flex;
                justify-content: center;
                align-items: start;
                font-size: 1.3rem;
                margin-top: 20px;
                letter-spacing: 1px;
                
            }
            
            & .arrow {
                width: 50px;
                display: flex;
                justify-content: center;
                margin: 30px auto 0 auto;
                border: 1px solid black;
                padding: 5px 10px;
                border-radius: 100%;
                cursor: pointer;
                transition: transform 0.6s;

            }
            & .arrow:hover {
                transform: rotate(180deg);
            }
        }
    }
}