@font-face {
  font-family: "agerola";
  src: url("./assets/fonts/Agerola-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "agerola";
}

html {
  background: #D9D9D9;
}

.suggestions button, .suggestions input, .suggestions p, .suggestions h2, .results-container .results-card-container .results-card .results .results-stats p, .results-container .results-card-container .results-card .results, .results-container .results-card-container .results-card, .questions .questions-container .current-question button, .questions .questions-container .current-question form .label-checked, .questions .questions-container .current-question form .label, .questions .questions-container .current-question form, .questions .questions-container .current-question h3, .questions .questions-container .current-question h2, .questions .questions-container, .questions, .home .title-container button, .home .title-container h2, .home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.scroll-none {
  overflow: hidden;
}

.home {
  height: 100vh;
  overflow: hidden;
}
.home .title-container {
  color: #222222;
}
.home .title-container h1 {
  font-size: 7rem;
}
.home .title-container h2 {
  font-size: 3.5rem;
  margin-top: 10px;
}
.home .title-container button {
  font-size: 2rem;
  margin-top: 25px;
  padding: 10px 20px;
  color: #D9D9D9;
  background-color: #222222;
  cursor: pointer;
  border: none;
  border-radius: 25px;
}

.questions {
  height: 100vh;
  overflow: hidden;
}
.questions .questions-container {
  color: #222222;
  width: 80%;
  background: #8F8EBB;
  height: 50%;
  border-radius: 25px;
}
.questions .questions-container .current-question {
  padding: 0 50px;
}
.questions .questions-container .current-question h2 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.questions .questions-container .current-question h3 {
  text-align: center;
  font-size: 2rem;
}
.questions .questions-container .current-question form .label {
  width: 110px;
  margin: 40px 40px 20px 40px;
  padding: 10px;
  border-radius: 25px;
  background: #D9D9D9;
  cursor: pointer;
}
.questions .questions-container .current-question form .label input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.questions .questions-container .current-question form label:hover {
  color: #D9D9D9;
  background: #222222;
}
.questions .questions-container .current-question form .label-checked {
  width: 110px;
  margin: 40px 40px 20px 40px;
  padding: 10px;
  border-radius: 25px;
  color: #D9D9D9;
  background: #222222;
  cursor: pointer;
}
.questions .questions-container .current-question form .label-checked input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.questions .questions-container .current-question button {
  width: 160px;
  margin-top: 30px;
  font-size: 1rem;
  padding: 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background: #D9D9D9;
}

.results-container {
  height: 110vh;
}
.results-container .results-card-container {
  height: 100%;
}
.results-container .results-card-container h2 {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 20%;
  font-size: 4rem;
}
.results-container .results-card-container .results-card {
  height: 50%;
}
.results-container .results-card-container .results-card .results {
  border-radius: 25px;
  width: 60%;
  height: 80%;
}
.results-container .results-card-container .results-card .results .results-stats {
  align-items: center;
}
.results-container .results-card-container .results-card .results .results-stats p {
  font-size: 1.5rem;
  margin-top: 10px;
}
.results-container .results-card-container .results-card .results .results-stats .congrats {
  margin-top: 30px;
}
.results-container .results-card-container .show-article {
  height: 25%;
}
.results-container .results-card-container .show-article p {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 1.3rem;
  margin-top: 20px;
}
.results-container .results-card-container .show-article .arrow {
  width: 50px;
  display: flex;
  justify-content: center;
  margin: 30px auto 0 auto;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 100%;
  cursor: pointer;
  transition: transform 0.6s;
}
.results-container .results-card-container .show-article .arrow:hover {
  transform: rotate(180deg);
}

.article .jupiter-img p,
.article .venus-img p,
.article .ganymede-earth-img p,
.article .saturne-img p {
  font-size: 1rem;
  color: #272727;
  font-style: italic;
}

.article-page {
  position: relative;
}

.article {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}
.article h2 {
  font-size: 4.5rem;
}
.article p {
  font-size: 2rem;
  color: #585858;
}
.article .article-intro {
  margin-bottom: 100px;
}
.article .article-intro .article-intro-img {
  display: flex;
  justify-content: space-around;
}
.article .article-intro img {
  margin-top: 30px;
  height: 352px;
}
.article .article-intro p {
  padding: 30px 0;
}
.article .article-content h3 {
  font-size: 4rem;
  margin-top: 50px;
}
.article .article-content .article-content-1 {
  margin-top: 90px;
  margin-bottom: 90px;
  display: grid;
  gap: 20px;
  row-gap: 80px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "aj ji" "vi av";
}
.article .article-content .article-content-1 .article-jupiter {
  grid-area: aj;
}
.article .article-content .article-content-1 .jupiter-img {
  grid-area: ji;
  margin-left: 80px;
}
.article .article-content .article-content-1 .jupiter-img img {
  width: 600px;
}
.article .article-content .article-content-1 .venus-img {
  grid-area: vi;
  width: 600px;
}
.article .article-content .article-content-1 .venus-img img {
  width: 600px;
}
.article .article-content .article-content-1 .article-venus {
  grid-area: av;
}
.article .article-content .article-content-2 {
  margin-top: 90px;
  display: grid;
  height: auto;
  gap: 100px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(auto, 1fr);
  grid-template-areas: "ag gi" "si as" "ac ac";
}
.article .article-content .article-content-2 .article-ganymede {
  grid-area: ag;
  width: 110%;
}
.article .article-content .article-content-2 .ganymede-earth-img {
  grid-area: gi;
  padding-left: 100px;
  height: 305px;
}
.article .article-content .article-content-2 .article-saturne {
  grid-area: as;
  padding-top: 50px;
}
.article .article-content .article-content-2 .saturne-img {
  grid-area: si;
  padding-top: 50px;
}
.article .article-content .article-content-2 .saturne-img img {
  width: 600px;
}
.article .article-content .article-content-2 .article-conclusion {
  grid-area: ac;
  height: 200px;
}

.suggestions {
  height: 70vh;
}
.suggestions h2 {
  margin-top: 150px;
  font-size: 4.5rem;
  margin-bottom: 50px;
}
.suggestions p {
  text-align: center;
  font-size: 2rem;
  width: 50%;
  margin: 0 auto;
  color: #585858;
}
.suggestions input {
  margin-top: 50px;
  width: 800px;
  height: 50px;
  font-size: 1.5rem;
  text-align: center;
  border: 1 px solid black;
}
.suggestions button {
  margin-top: 50px;
  width: 300px;
  height: 60px;
  font-size: 1.5rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  color: #909090;
  background: #222222;
}
.suggestions button:hover {
  color: #222222;
  background: #909090;
}/*# sourceMappingURL=index.css.map */